/* BARRA DE BUSCA */
.search-box {
  position: relative;
  width: 100%;
  max-width: 720px;   /* largura máxima = 720px */
  min-width: 360px;   /* não encolhe demais no mobile */
  height: 56px;       /* altura do Figma */
}

/* INPUT – cor e borda */
.search-input {
  width: 100%;
  height: 100%;
  padding: 0 56px 0 24px;  /* espaço pro texto + ícone à direita */
  border-radius: 28px;
  border: none;            /* sem borda aparente */
  background: #F2F2F7;     /* mesma cor clarinha do Figma */

  font-size: 16px;
  line-height: 24px;
  color: #111827;
}


/* ÍCONE DE BUSCA */
.search-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  width: 20px;
  height: 20px;
  display: block;
}

/* CARD */
.card {
  width: 100%;
  max-width: 203px;
  height: auto;       /* deixa o card se ajustar ao conteudo, evitando area em branco */
  background: #F0F3FF;
  border-radius: 8px;
  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* TOPO DO CARD: ID + TIPO(S) */
.card-top-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 6px;
}

.card-id {
  font-weight: 700;
  color: #1f2937;
}

.card-types-top {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.type-pill {
  border-radius: 999px;
  padding: 0 6px;
  font-size: 11px;
  line-height: 18px;
  color: #111827; /* texto escuro sobre a cor do tipo */
}

/* IMAGEM NO CARD */
.card-image-wrapper {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px; /* limita a área para ficar próxima ao tamanho da imagem */
}

.card-image-wrapper img {
  width: 128px;
  height: 128px;
  object-fit: contain;
}

/* TITULO DO CARD */
.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 1px;
}

/* MENSAGEM */
.message {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #4b5563;
}

/* PAGINAÇÃO */
.pagination {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pagination-link {
  padding: 6px 10px;
  border-radius: 999px;
  border: none;
  background: #111827;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
}

.page-numbers {
  display: flex;
  gap: 4px;
}

.page-number {
  border: none;
  background: #e5e7eb;
  cursor: pointer;
  font-size: 13px;
  width: 28px;
  height: 28px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number.active {
  background: #111827;
  color: #ffffff;
}
